<!DOCTYPE html>
<html>
<head>
  <title>SWELL - ART REQUESTS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="gridwork1"></div>
<div id="gridwork2"></div>
<header>
	<div id="headerContain">
		<div class="logo">
			<img src="/images/logo-black.png" alt="SWELL Logo"/>
		</div>

		<nav>
			<ul>
				<li><a href="/requests/">View All Requests</a></li>
				<li><a href="/requests/new">Create New Request</a></li>
			</ul>
		</nav>

	<h1>Art Requests</h1>
	</div>
</header>

<div id="contentContain">
	<div class="contentPad">
<%= yield %>
	</div>
</div>

</body>
</html>
